<div class="body">
<button routerLink="/" type="button" class="btn btn-secondary">Return to experiments</button>


<p class="btn-right">
	<button
		type="button"
		class="btn btn-secondary"
		(click)="collapseExperiment.toggle()"
		[attr.aria-expanded]="isCollapsedExperiment"
		aria-controls="collapseExperiment"
	>
		Experiment information
	</button>
	<button
	type="button"
	class="btn btn-secondary"
	(click)="collapseLoadWords.toggle()"
	[attr.aria-expanded]="isCollapsedLoadWords"
	aria-controls="collapseLoadWords"
>
	Load words
</button>
	<button
	type="button"
	(click)="runExperiment()"
	class="btn btn-primary"
>
	Run experiment
</button>
<button
type="button"
(click)="stopExperiment()"
class="btn btn-danger"
>
Stop experiment
</button>
<button
type="button"
(click)="generateExcel()"
class="btn btn-success"
>
Download Excel
</button>
</p>


<div #collapseExperiment="ngbCollapse" [(ngbCollapse)]="isCollapsedExperiment">
	<div class="card">
		<h3>{{experiment.name}}</h3>
		<hr>
			<p><b>Program:</b> {{experiment.program}}</p>
			<p><b>Model:</b> {{experiment.model}}</p>
			<p><b>Version:</b> {{experiment.version}}</p>
			<p><b>Configurations:</b></p>
			<ul>
				<ul *ngFor="let item of experiment.configuration | keyvalue">
					<li>{{item.key}}: {{item.value}}</li>
				</ul>
		</ul>
	</div>
</div>

<div #collapseLoadWords="ngbCollapse" [(ngbCollapse)]="isCollapsedLoadWords">
	<div class="card">
		<form class="row g-3">
			<h4>Load single word</h4>
			<div class="col-md-6">
			  <label for="new-experiment-name" class="form-label">Word</label>
			  <input type="text" class="form-control" id="new-experiment-name" #wordName>
			</div>
			<div class="col-12">
				<button type="button" class="btn btn-secondary" (click)="add(
					wordName.value);">
					Add word
				</button>	
			</div>
		  </form>
		  <hr>
		<form class="row g-3">
			<h4>Load multiple words</h4>
			<div class="col-12">
			  <textarea placeholder="Spliting words" class="form-control" id="wordsText" rows="3" #wordsText></textarea>
			</div>
			<div class="col-12">
				<button type="button" class="btn btn-secondary" (click)="addWords(
					wordsText.value);">
					Add words
				</button>	
			</div>
		  </form>
		  <hr>
		  <form class="row g-3">
			<h4>Load multiple words from .txt file</h4>
			<div class="col-12">
				<input type="file" accept=".txt" (change)="onFileSelected($event)"/>
			</div>
			<div class="col-12">
				<button type="button" class="btn btn-secondary" (click)="addWords(fileContent);">
					Add words from file
				</button>
			</div>	
		  </form>
	</div>
</div>



<div>
	<p>Status: {{getExperimentStatus(experiment.status)}}</p>
	<p>Total words: {{collectionSize}}</p>
	<ngb-progressbar type="warning" [value]="wordsWithResultSize/collectionSize *100 + 10"><b>{{wordsWithResultSize}} of {{collectionSize}} words tested</b></ngb-progressbar>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Word</th>
				<th scope="col">Result</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let word of words">
				<td>{{ word.name }}</td>
				<td>
					<ul *ngFor="let item of word.result | keyvalue">
						<li>{{item.key}}: {{item.value}}</li>
					</ul>
				</td>
				<td>	  
					<button type="button" class="btn btn-danger btn-table" (click)="delete(word)"><i class="bi bi-trash"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshWords()">
		<option [ngValue]="50">50 items per page</option>
		<option [ngValue]="100">100 items per page</option>
		<option [ngValue]="200">200 items per page</option>
	</select>
	<div class="d-flex justify-content-between p-2">
		<ngb-pagination
			[collectionSize]="collectionSize"
			[(page)]="page"
			[pageSize]="pageSize"
			[maxSize]="10"
			[rotate]="true"
			[boundaryLinks]="true"
			(pageChange)="refreshWords()"
		>
		</ngb-pagination>
	</div>
</div>
</div>


